appdirs==1.4.4
aspose-words==22.12.0
astrochart-svg==1.0.1
astropy==5.1.1
attrs==22.1.0
Brotli==1.0.9
cairocffi==1.4.0
CairoSVG==2.5.2
cattrs==22.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cssselect2==0.7.0
defusedxml==0.7.1
exceptiongroup==1.0.0rc9
fonttools==4.38.0
html2image==2.0.1
html5lib==1.1
idna==3.4
imgkit==1.2.2
Js2Py==0.74
jsonpickle==2.2.0
kerykeion==3.3
lxml==4.9.2
nominatim==0.1
numpy==1.23.4
openastro==0.2
packaging==21.3
pandas==1.5.2
Pillow==9.3.0
pycparser==2.21
pydantic==1.10.2
pydyf==0.5.0
pyerfa==2.0.0.1
pyjsparser==2.7.1
pyparsing==3.0.9
pyphen==0.13.2
pyswisseph==2.10.3.1
python-dateutil==2.8.2
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
reportlab==3.6.12
requests==2.28.1
requests-cache==0.9.6
shapely==2.0.0
six==1.16.0
svglib==1.4.1
terminaltables==3.1.10
tinycss==0.4
tinycss2==1.2.1
tkhtmlview==0.1.1.post5
typing-extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
tzwhere==3.0.3
url-normalize==1.4.3
urllib3==1.26.12
weasyprint==57.2
webencodings==0.5.1
zopfli==0.2.2
